@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


body {
  font-family: var(--font-geist-axifoma),Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
.herofont {
  font-family: 'Afacad Flux', sans-serif;
}
.bghero {
  background: linear-gradient(56deg, #45c4f9, #7d09ff 50.33%, #ff0be5);
}
.textgr {
  /* background: rgba(137, 32, 254, .81); */
  background: linear-gradient(56deg, #45c4f9, #7d09ff 30.6%, #ff0be5 40.9%);
  -webkit-background-clip: text;
  background-clip: text;
  /* font-weight: bolder; */
  -webkit-text-fill-color: transparent; /* For Safari */
  
}

.axifoma{
  font-family: 'Axifoma', sans-serif;
}


.gridgr{
  background: linear-gradient(352deg, #5037E7 6.96%, #EB00FF 107.25%);

}
.gridgr2{
  background:  linear-gradient(170deg, #6731EC 1.65%, #44CFFF 118.4%);
}
.gridgr3{
background:   linear-gradient(351deg, #5037E7 12.36%, #EB00FF 124.69%);

}
.gridgr4{
  background:  linear-gradient(168deg, #D613EE -55.05%, #FF674E 64.52%);
}


.gr5{
  /* inset-block-start: -8px;
    inset-block-end: 0; */
    overflow: hidden;
    /* inline-size: 840px; */
    block-size: 562px;
  background: linear-gradient(247deg, #fa12e3 17.39%, #7612fa 64.22%, #12d0fa 97.73%);
    box-shadow: 0 3px 20px 0 rgba(67, 46, 134, .1);
    /* will-change: transform; */
}


